In [1]:
newMarkList = [
    ['ABDIHAFITH', 'M', '55', '45', '56', '87', '21', '52', '89', '65'],
    ['ADAM', 'M', '75', '55', '45', '64', '90', '61', '58', '2'],
    ['ADAMA', 'M', '25', '54', '89', '76', '95', '87', '56', '74'],
    ['ADITYA', 'M', '78', '55', '86', '63', '54', '89', '75', '45'],
    ['AHBAR', 'M', '58', '96', '78', '46', '96', '77', '83', '53'],
    ['AHMAD', 'M', '0', '71', '80', '77', '35', '74', '80', '96'],
    ['AIDEN', 'M', '65', '35', '42', '83', '81', '45', '24', '38'],
    ['AKRAM', 'M', '38', '6', '92', '92', '78', '21', '37', '100'], ['ALASTAIR', 'M', '10', '23', '81', '21', '94', '84', '17', '41'],
    ['ALEX', 'M', '95', '65', '50', '25', '69', '51', '70', '9'],
    ['ALEXANDAR', 'M', '47', '58', '91', '83', '84', '7', '30', '50'], ['ALEXANDER', 'M', '11', '14', '69', '61', '5', '64', '45', '70'],
    ]

subjects = 'Mathematics', 'English', 'Physics', 'Chemistry', 'Biology', 'French', 'History', 'Geography'

In [10]:
sum(int(sub_mark[2]) for sub_mark in newMarkList)

557

In [11]:
557/12

46.416666666666664

In [6]:
len(newMarkList)

12

In [8]:
for idx, data in enumerate(newMarkList):
    print(f'{idx:2} {data}')

0 ['ABDIHAFITH', 'M', '55', '45', '56', '87', '21', '52', '89', '65']
 1 ['ADAM', 'M', '75', '55', '45', '64', '90', '61', '58', '2']
 2 ['ADAMA', 'M', '25', '54', '89', '76', '95', '87', '56', '74']
 3 ['ADITYA', 'M', '78', '55', '86', '63', '54', '89', '75', '45']
 4 ['AHBAR', 'M', '58', '96', '78', '46', '96', '77', '83', '53']
 5 ['AHMAD', 'M', '0', '71', '80', '77', '35', '74', '80', '96']
 6 ['AIDEN', 'M', '65', '35', '42', '83', '81', '45', '24', '38']
 7 ['AKRAM', 'M', '38', '6', '92', '92', '78', '21', '37', '100']
 8 ['ALASTAIR', 'M', '10', '23', '81', '21', '94', '84', '17', '41']
 9 ['ALEX', 'M', '95', '65', '50', '25', '69', '51', '70', '9']
10 ['ALEXANDAR', 'M', '47', '58', '91', '83', '84', '7', '30', '50']
11 ['ALEXANDER', 'M', '11', '14', '69', '61', '5', '64', '45', '70']

In [14]:
import numpy as np
import pandas as pd

np.random.seed(0)
df = pd.DataFrame(np.random.choice(10, (5, 3)), columns=list('ABC'))
df

   A  B  C
0  5  0  3
1  3  7  9
2  3  5  2
3  4  7  6
4  8  8  1

In [23]:
df1 = pd.DataFrame(np.random.choice(10, (5, 3)), columns=list('ABC'))
df2 = df1['A']
df3 = df1['B']
for data in df1:
    print(data)

A
B
C

   A  B  C
0  5  0  3
1  3  7  9
2  3  5  2
3  4  7  6
4  8  8  1