In [1]:
import pandas as pd

data = [{'Stuart': 10, 'Lucy': 8, 'David': 13, 'Alexa': 11,},
        {'Stuart': 12, 'Lucy': 11, 'David': 18, 'Alexa': 12, 'Ben': 22,},
        {'Stuart': 14, 'Lucy': 15, 'David': 20, 'Alexa': 13,},
        {'Stuart': 17, 'Lucy': 19, 'David': 22, 'Alexa': 14, 'Ben': 24},]

results = pd.DataFrame(data, index=['first', 'second', 'third', 'fourth'])

In [2]:
results

        Alexa   Ben  David  Lucy  Stuart
first      11   NaN     13     8      10
second     12  22.0     18    11      12
third      13   NaN     20    15      14
fourth     14  24.0     22    19      17

In [16]:
    def keywords(wordCounts):       
        highest = max(wordCounts.values())
        words = []
        for word, count in wordCounts.items():
            if count == highest:
                words.append(word)
        return words

In [ ]:
test = {'alpha':10, 'beta':5, 'charlie':12, 'delta':12}
max(test.values())

In [9]:
words

['yellow', 'hadoop', 'elephant']

In [14]:
    def keywords(wordCounts):
        return [word for word, count in wordCounts.items() 
                if count == max(wordCounts.values())]

In [17]:
keywords(wordCounts)

['yellow', 'hadoop', 'elephant']

In [20]:
    number = 10
    x = 5
    z = 7

    x_lower = x < number
    z_lower = z < number
    if x_lower and z_lower:
        print("True")
    else:
        print("False")

True